
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 html, body{
    overflow-x: hidden;
}
.hero{
    background-color: white;
    width: 100%;

}
.container{
    max-width: 1200px;
    margin: auto;
}
header{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    i{
        font-size: 26px;
    }
}
.main{
    max-width: 1200px;
    margin: auto;
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    h1{
        font-size: 72px;
        font-weight: 400;
        color: rgb(232, 25, 34);
        line-height: 72px;
        font-family: "Roboto", sans-serif;
    }
    h2{
        font-size: 72px;
        font-weight: 400;
         line-height: 72px;
         color: rgb(17, 17, 17);
         font-family: "Roboto", sans-serif;
    }
    p{
font-family: "Open Sans", sans-serif;
font-size: 18px;
line-height: 36px;
width: 344px;
margin-top: 18px;
margin-bottom: 21px;
    }
    button{
        font-size: 18px;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        background-color: rgb(232, 25, 34);
        color: white;
        width: 234.113px;
        line-height: 25px;
        border: 0;
        height: 55px;
        border-radius: 25px;
        margin-top: 15px;
    }
}
span{
    border-bottom: 1px solid black;
}
.right{
   
    img{
         height: 540px;
        width: 540px;
        
        border-radius: 50%;
        margin-right: 70px;
    }
}
@media screen and (max-width:767px) {
    header{
        padding: 20px 25px;
    }
    .main{
        flex-direction: column;
    }
    .left{
        padding-left: 33px;
        padding-bottom: 20px;
        h1{
            font-size: 45px;
            line-height: 30px;
        }
        h2{
            font-size: 45px;
        }
    }
    .right{
       img{
        max-width: 80%;
        margin-left: 40px;
        margin-top: 35px;
        height: auto;
       }
    }
}
.parent{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 60px;
    padding-bottom: 55px;

    img{
        width:230.5px ;
        height:240px ;
        flex-grow: 1; 
        object-fit: cover;
        
    }
}
@media screen and (max-width:767px) {
    .parent{
        justify-content: center;
        align-items: center;
        
    }
    .parent img{
        max-width: 93%;
        height: auto;
        aspect-ratio: 1/1;
    }
}
.son{
    width: 100%;
   min-height: 1050px;
    background-image: url(./photo/-min\ nnnnnn.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .contact{
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 400px;  
    }
}

.card{
    width: 320.325px;
    max-width: 90%;
    background-color: rgba(51, 51, 51, 0.649);
    display: flex;
    flex-direction: column;
    .one{
        display: flex;
        justify-content: space-around;
        margin-top: 27px;
        h1{
            font-size: 48px;
            font-weight: 400;
            margin: 0px 5px;
            color: white;
            background-color: red;
            border-radius: 50%;
            padding: 10px;
            font-family: "Story Script", sans-serif;
        }
        h2{
            font-size: 27px;
            font-weight: 500;
            margin: 15px 5px;
            color: white;
            font-family: "Story Script", sans-serif;
        }
    }
    .two{
        font-size: 16px;
        line-height: 25px;
        padding: 10px 15px;
        margin-top: 20px;
        color:rgb(179, 179, 179);
    }
    .three{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 15px;
        a{
            font-size: 18px;
            font-weight: 400;
            color: white;
            border-bottom: 2px solid rgb(255, 255, 255);
            font-family: "Story Script", sans-serif;
            cursor: pointer;
        }
    }
}
.uncle{
    width: 100%;
    min-height: 130vh;
    background-color: white;
    display: flex;
    position: relative;
    
}
.uncle .first{
    width: 1350px;
    max-width: 90%;
    height: 580px;
    background-color: red;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
.second{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    img{
        width: 770px;
        height: 637px;
    }
}
.third{
    width: 550px;
    max-width: 80%;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    bottom: 2%;
    right: 10%;
    h1{
        font-size: 36px;
        font-weight: 700;
        color: black;
        font-family: "Story Script", sans-serif;
    }
    p{
        font-size: 16px;
        line-height: 32px;
        color: rgb(17, 17, 17);
        padding-left: 15px;
        font-family: "Story Script", sans-serif;
    }
    button{
        font-size: 18px;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        background-color: rgb(232, 25, 34);
        color: white;
        width: 229.113px;
        line-height: 25px;
        border: 0;
        height: 55px;
        border-radius: 25px;
        margin-top: 15px;
        padding: 0px 15px;
    }
}
.beauty{
    width: 100%;
    min-height: 100vh;
    background-image: url(./photo/pizaa\ photo.jpg);
    background-position: center;
    background-size: cover;
    /* background-position: 100%; */
    display: flex;
    align-items: center;
    padding-left: 100px;
    
}
.conta{
    h2{
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 700;
        font-family: "Alata", sans-serif;
    
    }
    h1{
        font-size: 96px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        line-height: 105px;
        padding: 25px 0px;
        font-family: "Alata", sans-serif;
    }
    h3{
        color: rgb(255, 255, 255);
        margin-bottom: 18px;
        font-family: "Alata", sans-serif;
        font-size: 18px;
        span{
            border-bottom: 2px solid red;
        }
    }
    button{
        font-size: 18px;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        background-color: rgb(232, 25, 34);
        color: white;
        width: 229.113px;
        line-height: 25px;
        border: 0;
        height: 55px;
        border-radius: 25px;
        margin-top: 15px;
        padding: 0px 15px;
        cursor: pointer;
    }
}
@media screen and (max-width:767px) {
    .beauty{
        padding-left:40px ;
        background-position: 50% center;
    }
    .conta h1{
        font-size: 70px;
        line-height: 80px;
    }
    .conta button{
        width: 200px;
    }
    
}
.section-five{
    max-width: 1200px;
    width: 100%;
    min-height: 130vh;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.div-one{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top:50px;
    gap:20px;
    p{
        width:555px;
        max-width:95%;
        font-size: 16px;
         font-family: "Roboto", sans-serif;
        height: 51px;
        line-height: 25px;
        display: block;
    }
    h1{
        font-size:40px;
        font-weight: 700;
         font-family: "Alata", sans-serif;
    }
}
.cards-menu{
width: 100%;
max-width: 1200px;
margin: auto;
display: flex;
/* justify-content: space-between; */
flex-wrap: wrap;
gap: 10px;
margin-top:80px;
}
.card-one{
    width:550px;
     max-width:100%;
    height:250px;
    /* background-color: blue; */
    background-image: url(./photo/burger-one.jpg);
    background-size: cover;
    background-position: center;
}
.card-two{
    width:550px;
     max-width:100%;
    height:250px;
    /* background-color: red; */
    background-image: url(./photo/burger-two.jpg);
    background-size: cover;
    background-position: center;
    
}
.card-three{
    width:550px;
     max-width: 100%;
    height:250px;
    /* background-color: greenyellow; */
    background-image: url(./photo/burger-three.jpg);
    background-size: cover;
    background-position: center;
}
.card-four{
    width:550px;
     max-width: 100%;
    height:250px;
    /* background-color:gold; */
    background-image: url(./photo/burger-four.jpg);
    background-size: cover;
    background-position: center;
}
.card-five{
    width:550px;
     max-width: 100%;
    height:250px;
    /* background-color: brown; */
    background-image: url(./photo/burger-five.jpg);
    background-size: cover;
    background-position: center;
}
.card-six{
    width:550px;
     max-width: 100%;
    /* max-width: 90%; */
    height:250px;
    background-color: cyan;
    background-image: url(./photo/burger-six.jpg);
    background-size: cover;
    background-position: center;
}
.free{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 60px;
    padding-right:50px;
    span{
        border-bottom: 1px solid black;
    }
}
.mono{
    width: 50%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    h1{
        font-size: 24px;
        font-weight:700;
        color: white;
        font-family: "Montserrat", sans-serif;
    }
    h2{
        color: red;
        font-size: 20px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
    }
    button{
        width: 163px;
        max-width: 80%;
        height: 40px;
        border: none;
        font-size:14px;
        font-weight:600;
        background-color: red;
        border-bottom-left-radius :50px;
        border-bottom-right-radius :50px;
        border-top-left-radius :50px;
        border-top-right-radius :50px;
        cursor: pointer;
        color: white;
        font-family: "Montserrat", sans-serif;
    }
}
@media screen and (max-width: 767px) {
  .free {
    padding-bottom: 30px;
    margin-top: 25px;
    padding-left:30px;
  }

  .mono h3 {
    text-align: center;
  }
}
